<mat-nav-list (click)='sidenavClose()'>
  <a mat-list-item routerLink='/signup' *ngIf=!isAuth>
    <mat-icon>face</mat-icon><span class='nav-list'>Signup</span></a>
  <a mat-list-item routerLink='/login' *ngIf=!isAuth><mat-icon>input</mat-icon><span class='nav-list'>Login</span></a>
  <a mat-list-item routerLink='/training' *ngIf=isAuth><mat-icon>fitness_center</mat-icon><span class='nav-list'>Training</span></a>
  <mat-list-item *ngIf=isAuth><button mat-icon-button (click)='onLogOut()'>
    <mat-icon>eject</mat-icon> Logout
  </button></mat-list-item>
</mat-nav-list>
