<section class='signup-form'>
  <form fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='10px' #f='ngForm' (ngSubmit)='onSubmit(f)' >
    <mat-form-field appearance="legacy">
      <input type='email' matInput placeholder="your email" ngModel name='email' email required #emailInput='ngModel'>
      <mat-error *ngIf='emailInput.hasError("required")'>Email is required</mat-error>
      <mat-error *ngIf='!emailInput.hasError("required")'>Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" hintLabel='should be more than 8 characters'>
      <input type='password' matInput placeholder="your password" ngModel name='password' required minlength='8' #pwd='ngModel'>
      <mat-hint align='end'>{{pwd.value?.length}}/8 </mat-hint>
      <mat-error>should be more than 8 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input matInput [matDatepicker]="picker" placeholder="your birthday" [max]='maxDate' ngModel name='birthdate' required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Birthday is required</mat-error>
    </mat-form-field>

    <mat-checkbox color='primary'
    ngModel name='agree' required>
  Agree to Terms and conditions.
</mat-checkbox>
    <button *ngIf='!isLoading' mat-raised-button color="primary" [disabled]='!f.valid'>submit</button>
    <mat-spinner *ngIf='isLoading'></mat-spinner>
  </form>
  
</section>
